.DS_Store
.tags
.dropbox
Icon?
*~
#*#
.#*
*.swp

*.pdf
*.log
backup/

expt_synthetic/data_expr1/*
expt_synthetic/result_expr1/*
expt_synthetic/result_expr2/*
expt_synthetic/data_expr3/*
expt_synthetic/result_expr3/*

expt_wafer/results/*

toolkits/u-shapelet/sampleDataset/*
